/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 * SASS
 *= require devise_bootstrap_views

 *parent {
   display: table;
   width: 100%;
 }
 *form_login {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
 }
 */
 #parent {
   display: table;
   width: 400xp;
 }
 #form_login {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
 }

#wrapper {
    width: 1200px;
    height: 200px;
    margin-bottom: 20px;
    border: 1px ;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 800px;
    float:left; /* add this */
    border: 20px;
}
#second {
    width: 300px;
    border:  1px;
    float:right;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

#wrapper_show {
    width: 1200px;
    border: 1px ;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first_show {
    width: 800px;
    float:left; /* add this */
    border: 20px;
}
#second_show {
    width: 350px;
    border:  1px;
    margin: 25px;
    float:right;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
